[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ModelMatrixModel"]
	path = ModelMatrixModel
	url = https://github.com/cran/ModelMatrixModel
